@using Shared
@inject InstanceInfo InstInfo

<h2>Hello World</h2>
<p>
    This is my test project.
</p>

@*@Html.ActionLink("home area", "Index", "Hello", new { area = "home" })
@Html.ActionLink("home", "Index", "Hello")
@Html.ActionLink("api data area", "Get", "Values", new { area = "api" })*@

<div class="">
    <a href="/swagger">API docs (Swagger)</a>
</div>
<div class="">
    <a href="@Url.Action("Index","Angular")">Angular app</a>
</div>




<footer>
    <p>Instance Id: @InstInfo.Id.ToString()</p>
    <p>Code version: @InstInfo.CodeVer</p>
    <environment include="Development">
        <p>HostingEnvironment.EnvironmentName is Development</p>
    </environment>
</footer>